<!DOCTYPE html>
<html>

{{ head }}

<body>
    <header>
        {{ header }}
    </header>
    <main>
        <h1>Welcome!</h1>
        <p>
          You have reached the personal site of Joaqim Planstedt, a software engineer, a web-developer and an
          avid reader.
        </p>
        <p>
          I set-up this website mostly for the purpose of documenting
          my software and coding related journeys.
        <p>
          This site was made possible by following the blog template generator
          <code>speedy</code> created by <code>Matthew Planchard</code>.
          His personal blog equivalent can be found at
          <a href="https://blog.mplanchard.com">blog.mplanchard.com</a>
            with source code at: <a href="https://gitlab.com/mplanchard/mplanchard.gitlab.io">gitlab.com/mplanchard/mplanchard.gitlab.io</a>
        </p>
          This site is intended as a personal knowledge repository, as 
          such, nothing here is written by an LLM. Though I might
          refer to LLM-assisted projects; the posts of this blog is
          wholly concocted from my brain, for better or for worse.
        <p>
        </p>
        {{ content }}
    </main>
    <footer>
        {{ footer-common }}
    </footer>
</body>

</html>
