<!-- Contents for the "About" Page -->
<section>
    <h1>About Me</h1>
    <p>
    </p>
    <h3>Me Elsewhere</h3>
    <address>
        <ul>
          <li><code>Joaqim</code> on
            <a href="https://github.com/Joaqim">GitHub</a>
          </li>
            <li>Email: mail at joaqim.xyz</li>
        </ul>
    </address>

  <h3>Me in Projects</h3>
  <p>
    You can find more information on my various open source and side
    projects on the <a href="/projects.html">Projects</a> page.
  </p>
</section>
<section>
    <h1>About this Website</h1>
    <p>
     This site was made possible by following the blog template generator
     <code>speedy</code> created by <code>Matthew Planchard</code>.
     His personal blog equivalent can be found at
     <a href="https://blog.mplanchard.com">blog.mplanchard.com</a>
      with source code at: <a href="https://gitlab.com/mplanchard/mplanchard.gitlab.io">gitlab.com/mplanchard/mplanchard.gitlab.io</a>
    </p>
</section>
