<!-- Contents for the "Projects" Page -->
<section>
  <h1>Projects</h1>
  <p>
  </p>

  <p>
  </p>

 <a href="#plan">
    <h2 id="plan">plan</h2>
  </a>
  <ul>
    <li><b>Repository:</b> <a href="https://github.com/Joaqim/plan">github.com/Joaqim/plan</a></li>
    <li><b>License:</b> MIT</li>
    <li><b>Created:</b> May, 2026</li>
    <li><b>Status:</b>actively maintained</li>
  </ul>
  <p>
    My personal Nix OS fleet configuration using <a href="https://clan.lol">Clan</a>.
    Very much inspired and actively following the upstream project: <a href="https://github.com/cameronraysmith/vanixiets">github.com/cameronraysmith/vanixiets</a>.
    For LLM-assisted docs, which are currently not quite up-to-date, see: <a href="https://plan.joaqim.com">plan.joaqim.com</a>.
  </p> 

  <a href="#dotfiles">
    <h2 id="dotfiles">dotfiles</h2>
  </a>
  <ul>
    <li><b>Repository:</b> <a href="https://github.com/Joaqim/dotfiles">github.com/Joaqim/dotfiles</a></li>
    <li><b>License:</b> MIT</li>
    <li><b>Created:</b> January, 2025</li>
    <li><b>Status:</b> pending archival, superceeded by <a href "#plan">Joaqim/plan</a></li>
  </ul>
  <p>
  </p>
  <a href="#jqpkgs">
    <h2 id="jqpkgs">jqpkgs</h2>
  </a>
  <ul>
    <li><b>Repository:</b> <a href="https://github.com/Joaqim/pkgs">github.com/Joaqim/pkgs</a></li>
    <li><b>License:</b> MIT</li>
    <li><b>Created:</b> July, 2025</li>
    <li><b>Status:</b> intermittently active, somewhat superceeded by <a href "#plan">Joaqim/plan</a></li>
  </ul>
  <p>
    Initial scaffolding from the excellent repository <a href="https://github.com/tgirlcloud/pkgs">github.com/tgirlcloud/pkgs</a>.
  </p>
  <a href="#balanced-dice-avr">
    <h2 id="balanced-dice-avr">Balanced Dice AVR</h2>
  </a>
  <ul>
    <li><b>Repository:</b> <a href="https://github.com/Joaqim/balanced-dice-avr">github.com/Joaqim/balanced-dice-avr</a></li>
    <li><b>License:</b> MIT</li>
    <li><b>Created:</b> August, 2022</li>
    <li><b>Status:</b> not active</li>
  </ul>
  <p>
    Arduino AVR port of <a href="https://blog.colonist.io/designing-balanced-dice/">blog.colonist.io/designing-balanced-dice</a>.
    I found a lot of inspirations from <a href="https://github.com/Lorandil/ATTiny85-optimization-guide">github.com/Lorandil/ATTiny85-optimization-guide</a> for optimizing beyond original scope.
    <p>
      <details>
        <summary>Physical Dice Roller</summary>
        Was succesfully run on hardware:
        <ul>
          <li><b>Board:</b> <code>ATTiny85</code></li>
          <li><b>Display:</b> <code>OLED Graphic Display 128x64 - I2C</code></li>
        </ul>
      <!-- TODO:
      <img src="/images/attiny85-1.png" alt="ATTiny85 Gadget displaying Dice Distribution in a Graph on a tiny OLED Screen"/>
      -->
      </details>
    </p>
  </p>
</section>
