<head>
    <meta charset="utf-8">
    <meta name="description" content="Joaqim Planstedt's personal blog">
    <meta name="keywords"
        content="programming, rust, html, python, javascript, html, blog, software, development">
    <meta name="author" content="Joaqim Planstedt">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="feed" type="application/atom+xml" title="RSS Feed" href="/atom.xml">
    <link rel="stylesheet" href="/css/main.css?v2026-05-06v1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

   <link rel="stylesheet" href="/js/vendor/highlight/styles/base16/gruvbox-dark-pale.min.css">

    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ summary }}">

    <script src="/js/vendor/highlight/highlight.min.js"></script>
    <script src="/js/vendor/highlight/languages/nix.min.js"></script>
    <script async>hljs.highlightAll();</script>
</head>
